@using MatchMaking.Areas.Admin.Models
@using MatchMaking.Infra
@model (List<Profile> listProfile, List<SelectListItem_Custom> SelectListItems, dynamic filters)

@{
	ViewData["Title"] = "Members";

	string folderPath = System.IO.Path.Combine(AppHttpContextAccessor.WebRootPath, "UploadPhotos", "Profile");
}


@section Styles {
	<style type="text/css">
		.member-card {
			display: none;
			opacity: 0;
			transition: opacity .4s ease-in-out;
		}

			.member-card.show {
				display: block;
				opacity: 1;
			}

		.member-img {
			height: 250px !important;
			width: 200px !important;
		}

		/* Active pagination link */
		#pagination li a.active {
			background: #df314d;
			color: #fff !important;
			border-radius: 4px;
			padding: 5px 10px;
		}

		/* Mobile-friendly */
		@@media (max-width: 480px) {
			#pagination li a {
				padding: 4px 6px;
				font-size: 14px;
			}

			#pagination li {
				margin: 2px;
			}
		}
	</style>
}

<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1" style="background-image: url('/assets/images/banner/banner_2.jpg');background-size: cover; background-position: center; background-repeat: no-repeat;">
	<div class="container">
		<div class="page-header-content">
			<div class="page-header-inner">
				<div class="page-title">
					<h2>Members</h2>
				</div>
				<ol class="breadcrumb">
					<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="active">Members</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<!-- ==========Page Header Section Ends Here========== -->
<!-- ==========Member page Section Start Here========== -->
<section class="member-page-section">
	<div class="container">
		<div class="member-filter">
			<div class="member-filter-inner">
				<form action="/" class="filter-form">
					<div class="person">
						<div class="custom-select right w-100">
							<select name="Gender" id="Gender" class="">
								<option value="">Looking for</option>
								@foreach (var item in Model.SelectListItems.Where(x => x.Group == "Gender"))
								{
									if (Model.filters != null && Convert.ToString(Model.filters.Gender) == item.Value)
									{
										<option value="@item.Value" selected>@item.Text</option>
									}
									else
									{
										<option value="@item.Value">@item.Text</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="age">
						<div class="right d-flex justify-content-between w-100">
							<div class="form-group me-3">
								<input type="text" name="age-start" id="age-start" value="@(Model.filters != null ? Convert.ToString(Model.filters.ageStart) : "")" class="" placeholder="18" style="background: #f9f9f9 !important; padding: 7px 10px; border: 1px solid rgba(255, 255, 255, 0.1); outline: none; box-shadow: none;" />
							</div>
							<div class="form-group me-3">
								<input type="text" name="age-end" id="age-end" value="@(Model.filters != null ? Convert.ToString(Model.filters.ageEnd) : "")" class="" placeholder="36" style="background: #f9f9f9 !important; padding: 7px 10px; border: 1px solid rgba(255, 255, 255, 0.1); outline: none; box-shadow: none;" />
							</div>
						</div>
					</div>
					<div class="city">
						<div class="custom-select right w-100">
							<select name="GroupId" id="GroupId" class="">
								<option value="0"> Select Jain Group </option>
								@foreach (var item in Model.SelectListItems.Where(x => x.Group == "JainGroup"))
								{
									if (Model.filters != null && Convert.ToString(Model.filters.GroupId) == item.Value)
									{
										<option value="@item.Value" selected>@item.Text</option>
									}
									else
									{
										<option value="@item.Value">@item.Text</option>
									}
									@* <option value="@item.Value">@item.Text</option> *@
								}
							</select>
						</div>
					</div>
					<button class="lab-btn" type="button" onclick="fnSearch()">Search now <i class="icofont-search-2"></i></button>
				</form>
			</div>
		</div>
		<div class="member-wrapper">
			<div id="member_partial" class="row g-3 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
				@if (Model.listProfile != null && Model.listProfile.Count() > 0)
				{
					foreach (var profile in Model.listProfile)
					{
						<div class="col">
							<div class="lab-item member-item style-1 style-2">
								<div class="lab-inner">
									<div class="lab-thumb">
										@if (System.IO.File.Exists(System.IO.Path.Combine(folderPath, profile.Id + ".jpg")))
										{
											<img src="@(System.IO.Path.Combine(folderPath, profile.Id + ".jpg").Replace(AppHttpContextAccessor.WebRootPath, "").Replace("\\", "/"))" class="member-img" alt="member-img">
										}
										else
										{
											<img src="~/no_image_available.png" class="member-img" alt="member-img">
										}

									</div>
									<div class="lab-content">
										<h6>
											@if (AppHttpContextAccessor.LoggedUserId > 0)
											{
												<a href="#" data-bs-toggle="modal" data-bs-target="#modalProfile" data-id="@profile.Id" class="open-profile">@profile.FullName</a>
											}
											else
											{
												<a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="open-profile">@profile.FullName</a>
											}
										</h6>
										<div class="d-flex justify-content-between w-100 px-3">
											<p>@profile.Age years</p>
											<p>@profile.Gender</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
				else
				{
					<p class="w-100 text-center">We couldn’t find any results for your search.</p>
				}

			</div>
			<div class="paginations">
				<ul id="pagination" class="lab-ul d-flex flex-wrap justify-content-center mb-1"></ul>
			</div>
		</div>
	</div>
</section>
<!-- ==========Member page Section Ends Here========== -->
@section Scripts {
	<script type="text/javascript">

		var itemsPerPage = 10;
		var currentPage = 1;
		var totalItems = $(".member-item").length;
		var totalPages = Math.ceil(totalItems / itemsPerPage);

		$(document).ready(function () {

			// CLICK EVENT
			$(document).on("click", ".go-page", function (e) {
				e.preventDefault();
				var page = parseInt($(this).data("page"));
				showPage(page);
			});

			// INITIAL
			showPage(1);
		});

		function showPage(page) {
			currentPage = page;

			totalItems = $(".member-item").length;
			totalPages = Math.ceil(totalItems / itemsPerPage);

			var start = (page - 1) * itemsPerPage;
			var end = start + itemsPerPage;

			$(".member-item").hide();
			$(".member-item").slice(start, end).show();

			buildPagination();
		}

		function buildPagination() {
			var html = "";

			// FIRST <<
			html += "<li><a href='#' class='go-page' data-page='1'><i class='icofont-rounded-double-left'></i></a></li>";

			// PREVIOUS
			var prevPage = currentPage - 1 <= 0 ? 1 : currentPage - 1;
			html += "<li><a href='#' class='go-page' data-page='" + prevPage + "'><i class='icofont-rounded-left'></i></a></li>";

			var range = 2;
			var startPage = Math.max(1, currentPage - range);
			var endPage = Math.min(totalPages, currentPage + range);

			// LEFT DOTS
			if (startPage > 1) {
				html += "<li><a href='#' class='go-page' data-page='1'>1</a></li>";

				if (startPage > 2) {
					html += "<li><a href='#'>...</a></li>";
				}
			}

			// PAGE NUMBERS
			for (var i = startPage; i <= endPage; i++) {
				html += "<li><a href='#' class='go-page " + (i === currentPage ? "active" : "") + "' data-page='" + i + "'>" + i + "</a></li>";
			}

			// RIGHT DOTS
			if (endPage < totalPages) {
				if (endPage < totalPages - 1) {
					html += "<li><a href='#'>...</a></li>";
				}
				html += "<li><a href='#' class='go-page' data-page='" + totalPages + "'>" + totalPages + "</a></li>";
			}

			// NEXT
			var nextPage = currentPage + 1 >= totalPages ? totalPages : currentPage + 1;
			html += "<li><a href='#' class='go-page' data-page='" + nextPage + "'><i class='icofont-rounded-right'></i></a></li>";

			// LAST >>
			html += "<li><a href='#' class='go-page' data-page='" + totalPages + "'><i class='icofont-rounded-double-right'></i></a></li>";

			$("#pagination").html(html);
		}

		$(document).on("click", ".open-profile", function (e) {
			e.preventDefault();

			var id = $(this).data("id");

			$("#profileModalContent").html("<p>Loading...</p>");

			$.get("@Url.Action("Profile", "Home")?id=" + id, function (data) {
				$("#profileModalContent").html(data);
			});
		});

		function fnLoadParialView_Success(){
			showPage(1);
		}

		function fnSearch(){
			fnLoadParialView('member_partial', '@Url.Action("Member", "Home")?Gender='+$('#Gender option:selected').val()+'&ageStart='+$('#age-start').val()+'&ageEnd='+$('#age-end').val()+'&GroupId='+$('#GroupId option:selected').val()+'&isFilter=true')
		}
	</script>
}
